.signup-container {
  margin-top: 50px;
  border-bottom: 10px solid #F34236;
  background: #FAFAFAFA;
  border-radius: 4px;
  max-width: 500px;
  padding: 20px;
  width: 100%;
  background: #9AA58C;


}

.signup-field-container {
  border-radius: 4px;
  padding: 20px 10px;
  background: #FAFAFAFA;
  margin: 20 auto;
  height: 400px;


}

